.lodging{
    padding : 0px 100px;
    font-family: "Montserrat";
    
    .cover-image{
        display: block;
        width: 100%;
        height: 415px;
        object-fit: cover;
        border-radius: 25px;
    }
    .Info{
        display: flex;
        .ContentLeft{
            width: 50%;
            h1{
                margin :0;
                padding-top: 30px;
                color:#FF6060;
                font-size:36px;
            }
            p{
                margin: 0;
                font-size:18px;
                margin-bottom: 20px; 
            }

            .tags{
                
                display: flex;
                gap: 10px;
                margin-bottom: 24px;
            }
            .tag{
                display: flex;
                width: 115px;
                background-color: #FF6060;
                justify-content: center;
                align-items: center;
                color: white;
                border-radius: 10px;
                height: 25px;
                font-size: 14px;
                font-weight: bold;
            }
        }

        .ContentRight{
            width: 50%;

            .host{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap:10px;
                margin-top: 25px;
                margin-bottom: 21px;
            }
            h3 {
                color: #FF6060;
                font-size: 18px;
                text-align: right;  
                margin: 0;          
            }
              
            .host-picture{
                width: 64px;         
                height: 64px;      
                border-radius: 50%;
            }
            .Star{
                display: flex;
                justify-content: flex-end;
                gap :4px;
                margin-bottom: 31px;
            }
        }
    }

    .Collapse {
    
        ul{
            list-style-type :none;
            margin: 0;
            padding: 19px 20px 19px 20px;
        }
        display: flex;
        gap:76px;
        .CollapseLeft {
            width: 50%;
            
        }
        .CollapseRight {
            width: 50%;
        }
    }

    .imgbanner {
        position: relative;
        .arrow-button {
          position: absolute;
          top: 205px;
          transform: translateY(-50%);
          background-color: transparent;
          border: none;
          cursor: pointer;
          z-index: 10;
    
        &.left {
            left: 10px;
        }
    
        &.right {
            right: 10px;
        }
        img {
            width: 40px;  
            height: 40px;
            object-fit: cover
        }

        }
      }
}

@media (max-width: 768px) {
    .lodging{
        padding : 0px 30px;
        .Info{
            flex-direction: column;

            .ContentRight{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row-reverse;

                .host{
                    align-items: center;
                    gap:10px;
                    margin-top: 25px;
                    margin-bottom: 21px;
                }
                .rating{
                    display: flex;
                    justify-content: flex-start;
                    gap :4px;
                    margin-bottom: 0px;
                }
            }
            .ContentLeft{
                width: 100%;
            }

        }
        .Collapse{
            flex-direction: column;
            gap:0;
            .CollapseLeft{
                width: 100%;
            }
            .CollapseRight{
                width: 100%;
            }
        }

    }
}


@media (max-width: 480px) {
    .lodging{
        padding : 0px 20px;

        .Info{
            flex-direction: column;

            .ContentRight{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row-reverse;
                .host{
                    align-items: center;
                    gap:10px;
                    margin-top: 25px;
                    margin-bottom: 21px;
                }
                .rating{
                    display: flex;
                    justify-content: flex-start;
                    gap :4px;
                    margin-bottom: 0px;
                }
            }
            .ContentLeft{
                width: 100%;
            }

        }
        .Collapse{
            flex-direction: column;
            gap:0;
            .CollapseLeft{
                width: 100%;
            }
            .CollapseRight{
                width: 100%;
            }
        }

    }
}