.erreur{
    font-family: 'Montserrat' ;
    text-align: center;
    padding: 89px 0px 101px 0px;
   
    h1{
        margin-top: 138px;
        margin-bottom: 138px;
        color:#FF6060;
        font-size: 36px;
    }
    .link{
        font-size: 18px;
        text-decoration: none;
        color: inherit;
    }
}