.ContentHome{
    padding : 0px 100px 0px 100px;

    .ContentBanner{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 43px;

        Img{
            width: 100%;
            height: 223px;
            object-fit: cover;
            border-radius:25px ;
        }

        h1{
            position:absolute;
            color: white;
            margin: 0;
            font-size: 48px;
            font-weight: bold;
        }
    }
    .card{
       
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        gap : 20px;
        background-color: #F6F6F6;
        border-radius: 25px;
        padding: 56px 50px;

        .fichelogement { 
         
            position: relative;
        
       
  
        }

        .fichelogement Img{
            display: block;
            width: 100%;
            height: 340px;
            object-fit: cover;
            border-radius:25px ;
            
        }
    
        .fichelogement h3 {
           
            position: absolute;
            margin: 0;
            bottom: 20px;
            color: white;
            font-size: 18px;
            font-weight: bold;
        
            white-space: wrap;  
            z-index: 2; 
            left: 20px;


        }
        .shadow {
            
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)); 
            border-radius: 25px;
            z-index: 1; 
     
           
        }
    }


}

@media (max-width: 1024px) {
    .ContentHome {
        padding: 0px 30px 0px 30px;
        .card {
            padding: 40px 30px;  
        }
    
        .ContentBanner h1 {
            font-size: 36px; 
        }
    
        .fichelogement img {
            height: 250px;  
        }
    
        .fichelogement h3 {
            font-size: 16px; 
        }
    }

}

@media (max-width: 768px) {
    .ContentHome {
        padding: 0px 30px 0px 30px;

        .card {
            display: grid;
            grid-template-columns: 1fr; 
        }
        .ContentBanner h1 {
            font-size: 28px; 
        }
    
        .fichelogement img {
            height: 200px;  
        }
    
        .fichelogement h3 {
            font-size: 14px; 
        }
    }

}

@media (max-width: 480px) {
    .ContentHome {

        padding: 0px 20px 0px 20px;
        .ContentBanner h1 {
            font-size: 20px; 
        }
    
        .card {
            padding: 20px 10px;  
        }
    
        .fichelogement img {
            height: 180px;  
        }
    
        .fichelogement h3 {
            font-size: 12px; 
        }
    }
}