.ContentInfo{
    padding : 0px 100px 0px 100px;
    .ImageBannerInfo{
        width: 100%;
        height: 223px;
        object-fit: cover;
        border-radius: 25px;
    }
    .collapse{
        padding: 38px 100px 0px 100px;
    }

}   

@media (max-width: 1024px) {
    .ContentInfo{
        padding : 0px 30px 0px 30px;
        .collapse{
            padding: 38px 0px 0px 0px;
        }
    }

}
@media (max-width: 480px) {
    .ContentInfo{
        padding : 0px 20px 0px 20px;
    }

}