.ContentCollapse {
    border-radius: 5px;
    background-color: #FF6060;
    font-family: 'Montserrat';
    margin-bottom: 30px;  
    
    img {
        width: 24px;
        height: 14px;
    }

    .toggle-icon {
        transition: transform 0.3s ease; 
    }
      
    .toggle-icon.rotated {
        transform: rotate(180deg); 
    }

    h3 {
        font-weight: bold;
        font-size: 24px;
        color: white;
    }

    .HeaderCollapse{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 52px;
        margin-left: 15px;
        margin-right: 20px;
    }

    p {
        font-size: 18px;
        margin-left: 15px;
        margin-right: 20px;
    }

    .collapseContent {
        background-color: #FBFBFB;
        margin: 0;
        overflow: hidden;
        max-height: 0; 
        transition: max-height 0.3s ease-in-out;
    }
    
    .collapseContent.open {
        max-height: 500px;  
        opacity: 1;
    }
}
